
<ul class="user">
    <!-- <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['about']">About</a></li>
    <li><a [routerLink]="['contact-us']">Contact Us</a></li> -->

    <!-- ----------This also worked-------------------------- -->

    <!-- <li><a routerLink="/"></a></li> -->
    <!-- <li><a routerLink="/add-user">Add </a></li> -->
    <!-- <li><a routerLink="/edit-user">Edit</a></li> -->
    <!-- <li><a routerLink="/delete-user">Delete</a></li> -->
    <li><a routerLink="/get-user">User List</a></li>
</ul>

<router-outlet></router-outlet>





















<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
 <div class="container">
   <div class="title">
      <h2>User Details</h2>
    </div>
    

 <table class="table-body">
    <thead class="head">
      <tr class="row">
          <th>UserName</th>
          <th>Email</th>
          <th>PhoneNumber</th>
          <th>gender</th>
          <th>MarriedStatus</th>
          <th>City</th>
          <th>Action</th>
      </tr>
    </thead>
   <tbody>
     <tr class="row">
          <td>Deva</td>
          <td>121@gmail.com</td>
          <td>9876543210</td>
          <td>male</td>
          <td>No</td>
          <td>Dharmapuri</td>
          <td></td>
     </tr>
     <tr class="row">
          <td>Raj</td>
          <td>122@gmail.com</td>
          <td>9876543201</td>
          <td>male</td>
          <td>No</td>
          <td>Dharmapuri</td>
          <td></td>
  
      </tr>
      <tr class="row">
        <td>Kumar</td>
        <td>123@gmail.com</td>
        <td>9876543000</td>
        <td>male</td>
        <td>Yes</td>
        <td>Chennai</td>
        <td></td>
     </tr>
    <tr class="row">
      <td>Sarath</td>
      <td>124@gmail.com</td>
      <td>9876540000</td>
      <td>male</td>
      <td>Yes</td>
      <td>Dharmapuri</td>
      <td></td>
  </tr>
    </tbody>
  </table><br>
  <div>
    <button class="button" type="button"> Add New</button>
   </div>
 </div>
 <router-outlet></router-outlet>
</body>

</html>  -->